<h1> New Post </h1>

<%= form_with :model => @post do |form| %>
  <p>
    <%= form.label "Title" %>
    <%= form.text_field "title" %>
  </p>
  <p>
    <%= form.label "Description" %>
    <%= form.text_field "description" %>
  </p>
  <p>
    <%= form.label "Date" %>
    <%= form.date_field "posted_on" %>
  </p>
  <p>
    <%= form.hidden_field "place_id" %>
  </p>
  <%= form.submit %>
<% end %>

<p> <a href="/places/<%= @post["place_id"] %>"%> Back to Posts </a> </p>
