<h1><%= @place["name"] %></h1>
<p></p>

<ul>
    <% for post in @posts %>
     <li>
        <h3> <%= post["title"] %> </h3>
        <p> <%= post["created_at"] %>
        <p> <%= post["description"] %> </p>
     </li>
    <% end %>
</ul>

<p> <a href="/posts/new?place_id=<%= @place["id"] %>"> New Post for <%= @place["name"] %></a> </p>
<p> <a href="/places">Back to Places</a> </p>

